<!DOCTYPE html>
<html lang = "en">
    <body>
        <form class="ui form" method="post" action="/createAccount">
            <h2 class="ui dividing header">Create Account</h2>
            <!-- Username input -->
            <div class="field">
              <input type="text" name="username" id="username" placeholder="Username"/>
            </div>
            <!-- Password input -->
            <div class="field">
              <input type="password" name="password" id="password" placeholder="Password"/>
            </div>
            <!-- Password input -->
            <div class="field">
              <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Confirm Password"/>
            </div>
            <!--Submit button-->
            <input type="submit" value="Create Account" class="fluid ui primary button"/>
          </form>
    </body>
</html>
