body {
    background-color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-size: cover;*/
}

.box {
    justify-content: center;
    align-items:center;
}

.title {
    font-size: 350%;
    text-align: center;
    letter-spacing: 3x;
    color:  rgb(21, 122, 169);
}

.sectitle {
    font-size: 250%;
    text-align: center;
    letter-spacing: 3x;
    color:  rgb(21, 122, 169);
}

.normaltext {
    font-size: 100%;
    text-align: left;
    letter-spacing: 5x;
}

.login-btn{
    justify-content: center;
    color: #ffffff;
    padding: 10px 30px;
    font-size: 13px;
    background:rgb(21, 122, 169);
    border-radius: 12px;
    }
    .login-btn:hover{
    background: navy;
    transition: 1s;
    }

/*-----------------------------------------------------------------*/
/*Start of Homepage*/
