.title {
    color: rgb(154, 90, 196);
    text-align: center;
    padding: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:35px;
}

.error-message {
    color: red;
}

.account-success-message {
    color: rgb(15, 158, 15);
}